* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto Mono";
}

body {
  background-image: url('assets/cactus-drawing-succulent-5.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left; 
  background-size: 60vh;
  overflow: hidden;
}

.heading {
  text-align: center;
  color: #388e3c;
  font-size: 50px;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto Mono";
}

#homepage {
  height: 100vh;
  z-index: -5;
}

#dataContainer {
  height: 100vh;
  scroll-behavior: smooth;
}
